# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# QT stuff
*.user

# Project stuff
Makefile
bin/.moc/
bin/OptimalLunarLandingAnalysis
bin/OptimalLunarLandingAnalysis.config
ui_MainWindow.h
maps/*
